* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  flex-direction: row;
  gap: 12px;
  height: 100vh;
  max-height: 100vh;
  padding: 12px;
  background-color: #282c34;
  text-align: center;
  color: white;
  overflow: hidden;
}

.event-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 10%;
  min-width: 12ch;
  height: 100%;
  font-size: 16px;
  overflow: auto;
}

.event-list-item {
  width: 100%;
  padding: 2px 4px;
  padding-right: 20px;
  text-align: start;
  cursor: pointer;
  user-select: none;
}

.video-player-container {
  position: relative;
  object-fit: cover;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.video {
  width: 100%;
  height: 100%;
}

.progress {
  width: 100%;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

@media screen and (max-width: 578px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
  }
  .event-list {
    width: 100%;
  }
}
